<section id="event" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading text-center">
          Wednesday Day Ceremony and Reception
        </h2>
        <hr class="primary" />
        <dl class="dl-horizontal lead">
          <dt>What</dt>
          <dd>Witness our marriage</dd>
          <dt>When</dt>
          <dd>
            Wednesday, Oct 19, at 09:00.
            <br />
            09:00 - ~09:30: The "Groom challenge games".
            <br />
            ~09:30 - ~11:00: Formal wedding ceremony.
            <br />
            ~11:00 - 12:00: Vietnamese guests will arrive.
            <br />
            12:00 - ~16:00: Lunch reception.
          </dd>
          <dt>Where</dt>
          <dd>
            Thu's parents' home
            <br />
            <a href="https://goo.gl/maps/fgywfCDehzZ7rgrS9">Đồ gỗ Bình Hảo, Đa Ngư, Hoà Hiệp Nam, Thị Xã Đông Hoà (dưới khu công nghiệp Hoà Hiệp)</a>
          </dd>
          <dt>Attire</dt>
          <dd>
            Business / Business Casual
            <br />
            Guests should not wear all white nor all red.
          </dd>
          <dt>Transportation</dt>
          <dd>
            Bus pickup from the main part of Tuy Hoa at 08:30.
            <br />
            Departure back to Tuy Hoa city at 16:00.
          </dd>
        </dl>
      </div>
  </div>
</section>
<section id="wednesday-evening-event" class="bg-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading text-center">
          Wednesday Evening Party
        </h2>
        <hr class="primary" />
        <dl class="dl-horizontal lead">
          <dt>What</dt>
          <dd>Celebrate our marriage</dd>
          <dt>When</dt>
          <dd>Wednesday, Oct 19, at 19:00</dd>
          <dt>Where</dt>
          <dd>
            Thu's parents' home
            <br />
            <a href="https://goo.gl/maps/fgywfCDehzZ7rgrS9">Đồ gỗ Bình Hảo, Đa Ngư, Hoà Hiệp Nam, Thị Xã Đông Hoà (dưới khu công nghiệp Hoà Hiệp)</a>
          </dd>
          <dt>Attire</dt>
          <dd>Casual / Swimwear (there will be a pool)</dd>
          <dt>Transportation</dt>
          <dd>
            Bus pickup from the main part of Tuy Hoa at 18:40.
            <br />
            Please arrange transportation yourself for getting home.
          </dd>
        </dl>
      </div>
    </div>
  </div>
</section>
