<section id="event" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading text-center">
          Wednesday Day Ceremony and Reception
        </h2>
        <hr class="primary" />
        <dl class="dl-horizontal lead">
          <dt>What</dt>
          <dd>Witness our marriage</dd>
          <dt>When</dt>
          <dd>
            Wednesday, Oct 19, at 08:40.
            <br />
            08:40 - 10:30: Formal wedding ceremony.
            <br />
            10:30 - 11:00: Guest greeting.
            <br />
            11:00 - 14:00: Lunch reception.
          </dd>
          <dt>Where</dt>
          <dd>
            <a href="https://goo.gl/maps/fgywfCDehzZ7rgrS9">Thu's parents' home</a>
            <br />
            Next to "Đồ gỗ Bình Hảo, Đa Ngư, Hoà Hiệp Nam, Thị Xã Đông Hoà (dưới khu công nghiệp Hoà Hiệp)"
          </dd>
          <dt>Attire</dt>
          <dd>
            Business / Business Casual
            <br />
            Guests should not wear all red.
          </dd>
          <dt>Transportation</dt>
          <dd>
            Bus pickup from the main part of Tuy Hoa at 08:20.
            <br />
            Departure back to Tuy Hoa city at 14:30.
          </dd>
        </dl>
      </div>
  </div>
</section>
<section id="wednesday-evening-event" class="bg-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-heading text-center">
          Wednesday Evening Party
        </h2>
        <hr class="primary" />
        <dl class="dl-horizontal lead">
          <dt>What</dt>
          <dd>Celebrate our marriage</dd>
          <dt>When</dt>
          <dd>
            Wednesday, Oct 19, at 18:00
            </br>
            18:00 - 19:00: Dinner reception.
            </br>
            19:00+: Pool party.
          </dd>
          <dt>Where</dt>
          <dd>
            <a href="https://goo.gl/maps/fgywfCDehzZ7rgrS9">Thu's parents' home</a>
            <br />
            Next to "Đồ gỗ Bình Hảo, Đa Ngư, Hoà Hiệp Nam, Thị Xã Đông Hoà (dưới khu công nghiệp Hoà Hiệp)"
          </dd>
          <dt>Attire</dt>
          <dd>Casual and Swimwear (there will be a pool)</dd>
          <dt>Transportation</dt>
          <dd>Please arrange transportation yourself for getting home.</dd>
        </dl>
      </div>
    </div>
  </div>
</section>
