<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="section-heading text-center">Phu Yen</h2>
      <hr class="primary" />
      <h3>Getting There and Away</h3>
      <p>
        Phu Yen is located about 1 hour away from Ho Chi Minh by flight
        and 3.5 hours away from Hanoi. As far as we know, there are no direct
        overseas flights to Phu Yen.
      </p>
      <p>
        As such, we recommend first to book a flight from your home city to
        Hanoi, Ho Chi Minh or another major Vietnamese city. It might also be
        worthwhile to spend some time here before you go on with your journey.
        After that, you can book a flight from said city to Phu Yen
        (specifically Tuy Hoa Dong Tac Airport).
      </p>
      <p>
        The two companies that operate flight to Phu Yen are VietJet and
        Vietnam Airlines.
      </p>
      <p>
        From the airport, it is very fast to either get to the resort and hotel
        area in Tuy Hoa or to get to the village area. Both are about 10 minutes
        by taxi (in opposite directions). There will be taxis waiting at the
        airport when you arrive.
        The drivers probably cannot speak English, but if you just give them
        an address they should be able to figure it out. If you would like
        them to take you to Thu's parents' address, you can show them the
        following which roughly translates to
        "the furniture shop at Binh Hao, Da Ngu, Hoa Hiep Nam, Dong Hoa town (nearby the Hoa Hiep industrial factory)":
      </p>
      <p>
        <i>"Đồ gỗ Bình Hảo, Đa Ngư, Hoà Hiệp Nam, Thị Xã Đông Hoà (dưới khu công nghiệp Hoà Hiệp)"</i>
      </p>
      <p>
        <!-- If you're a nerd and would like the exact coordinates, they are <a href="https://goo.gl/maps/fgywfCDehzZ7rgrS9">12°58'17.5"N 109°23'50.3"E</a>. -->
        You can see where the main part of the city, the airport, and Thu's parents' house is here:
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1zcfT6XrWSm18sCTLF2F7BQj-Ds81BA4&ehbc=2E312F" width="100%" height="480"></iframe>
      </p>
      <hr class="primary" />
      <h3>Where to Stay</h3>
      <p>
        Below is a brief list of recommendations on places to stay in
        Phu Yen. Most places are relatively cheap.
      </p>
      <table class="table table-striped">
        <tr>
          <th class="col-md-2">Kaya Hotel</th>
          <td>
            The <a href="https://kaya-hotel-tuy-hoa.booked.net">Kaya Hotel</a>
            is conveniently located just off the highway and close to the
            wedding venue. It is about a 20 minute drive to downtown
            Phu Yen. It is a decent hotel that is fairly priced.
          </td>
        </tr>
        <tr>
          <th>Rosa Alba Resort & Villa</th>
          <td>
            The <a href="https://rosaalbaresort.com/">Rosa Alba Resort & Villa</a> is close to the Kaya Hotel.
            It is a very nice resort that is somewhat more expensive than
            Kaya Hotel. If you go in a large group, you can also book a villa
            here that can house up to seven people.
            Their <a href="https://www.youtube.com/watch?v=yJ2N5txHcyk">promotional video</a>
            shows off the resort quite nicely.
          </td>
        </tr>
        <tr>
          <th>Hotels/Bed and Breakfasts in Town</th>
          <td>
            There are a large number of smaller hotels and B&B's in and around
            Tuy Hoa. We recommend just jumping on
            <a href="https://www.tripadvisor.com/Hotels-g1582771-Tuy_Hoa_Phu_Yen_Province-Hotels.html">Tripadvisor</a>
            or your favorite travel website and choosing a place.
          </td>
        </tr>
        <tr>
          <th>Vacation rentals</th>
          <td>
            You can of course always use Airbnb if you don't mind something a
            bit more self-service.
          </td>
        </tr>
      </table>
      <hr class="primary" />
      <h3>Places to Visit</h3>
      <p>
        We encourage you to utilize your Vietnam trip for more than just
        spending time in Phu Yen. You should also enjoy Hanoi, Ho Chi Minh, Da Nang
        wherever you arrive first. Having said that, when you do land
        in Phu Yen, some ideas for things to do are listed below.
      </p>
      <h4>Mui Dien Lighthouse</h4>
      <p>
        Very nearby to Thu's parents' place with just a 15 min scooter ride.
        You will be amazed by how beautiful the scenery is where the mountain meets the sea.
        It's where you can catch the first sunlight on land in Vietnam (easternmost part of Vietnam).
      </p>
      <h4>Da Dia Reef</h4>
      <p>
        One of only four hexagon-formed reefs in the world.
        Tucked away at the end of An Ninh Dong commune, Tuy An district,
        Da Dia reef is a beguiling natural wonder of Phu Yen with black basalt
        rock formations rising along the sea.
        Countless black polygonal rocks stacking up as a result of volcanic
        eruptions that took place millions of years ago.
        They form a pitch dark seaside wall that looks like piles of plates.
      </p>
      <h4>Tuy Hoa Beach</h4>
      <p>
        There are many beach resorts, cafes, and restaurants around Tuy Hoa
        beach that you can explore.
        But it's not recommended to swim in October due to big waves and windy
        weather during the raining season.
      </p>
      <h4>Nhan Temple</h4>
      <p>
        As the last relic of the Champa Kingdom, Nhan Temple is an important
        symbol of Phu Yen's historical values and interesting anecdotes.
        Located close to Nhan Mountain, on a hilltop of the northern bank of
        Da Rang River.
      </p>
      <h4>Vung Ro Bay</h4>
      <p>
        It is located just 5 km away from Mui Dien Lighthouse, you can combine
        the two locations in a day.
        Here you can try local seafood like lobsters, prawns, cockles,
        and fish on the spot, and dive to see beautiful corals.
      </p>
      <h4>Even More Suggestions</h4>
      <p>
        If you have even more time, you can check out
        <a href="https://www.google.com/travel/things-to-do/see-all?g2lb=2502548%2C2503771%2C2503781%2C4258168%2C4270442%2C4284970%2C4291517%2C4306835%2C4515404%2C4597339%2C4649665%2C4722900%2C4723331%2C4738545%2C4741665%2C4753750%2C4757164%2C4758493%2C4762561%2C4786153%2C4786958%2C4787395%2C4790254%2C4790927%2C4791632%2C4794648%2C4797295%2C4797698&hl=en-SG&gl=sg&cs=1&ssta=1&dest_mid=%2Fm%2F07m1hn&dest_state_type=sattd&dest_src=ts&sa=X&ved=2ahUKEwilyM2Gmbf4AhXySWwGHdElAKkQuL0BKAZ6BAgWECI&fbclid=IwAR3UJC7Q_2EknPSoah0Gp8-e45s9dc5hGARELWQKTj1l5OJRRLIl6WHVfqQ">this really long list</a>.
      </p>
      <hr class="primary" />
      <h3>What to Eat</h3>
      <p>
        If you want to try out some local cuisine, these are some of the dishes you can try out:
        <ul>
          <li>Ocean tuna eyes</li>
          <li>Phu Yen Chicken Rice</li>
          <li>Tuy Hoa specialty squid vermicelli</li>
          <li>Oyster porridge</li>
          <li>Chives soup with seafood</li>
          <li>Banh mi</li>
          <li>Seafood pancakes</li>
          <li>Banh beo chen</li>
          <li>Blood cockles in O Loan lagoon</li>
          <li>Chop Chai Goat</li>
          <li>Apricot fish salad</li>
          <li>Fried rice</li>
          <li>Grilled corn with fish sauce</li>
          <li>Duck porridge</li>
          <li>Grilled spring rolls</li>
          <li>Fish noodle soup</li>
          <li>Jellyfish noodle soup</li>
        </ul>
      </p>
    </div>
  </div>
</div>
