<header id="second-header" class="secondary"></header>
<h5 class="text-center text-muted">
  Luckily, she said yes.
</h5>
<section id="proposal">
  <div class="container">
    <div class="col-lg-12">
      <h2 class="section-heading text-center">The Proposal</h2>
      <hr class="primary" />
      <p>
        After being together for half a year, Thu started hinting that she was ready
        for marriage. Søren, having a Western mentality towards relationships, thought
        it was a bit too soon. After one more year (and many more hints), Søren decided
        he was ready to go ahead with the proposal. One problem though; he had
        terrible taste in jewelry. Wanting to make sure Thu got a ring she would be
        thrilled to wear for the rest of her life, he asked her to pick out the
        ring herself. Arguably a rational approach, but also incredibly unromantic.
        Fast forward 1.5 months. It is now 27 November 2021 and we have flown to Denmark
        for vacation. A formal wedding ceremony in Aarhus has been planned for 10 December 2021.
        And Søren has <i>not</i> proposed yet.
      </p>
      <p>
        Without a better plan, he decided he would carry around the ring until
        the right moment presented itself.
        At a nice spot in Tivoli, Søren popped the question and we agreed to spend
        the rest of our lives together.
        Last minute too, because 7 days later the formal wedding took place.
      </p>
    </div>
  </div>
</section>
