<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="section-heading text-center">Our Story</h2>
      <hr class="primary"/>
      <p>
        It all started on those days in September 2019.
        They met while Søren was on an exchange program at
        the National University of Singapore and Thu stayed just 1 km away
        from his residence.
        The love story began with their favourite colour (blue),
        their favourite animal (dog) and a somewhat lame greeting on Tinder:
        "Hey, I love your smile" from Søren.
        Søren chose to wear a blue polo and also wore his beautiful deep blue
        eyes.
        Thu took away Søren's breath in her blue dress.
        The first date happened in a dog café where the two souls were finding
        ways closer to each other.
      </p>
      <p>
        The pair finally said the magical three words on 22/10/2019 and
        their romantic journey continues full of love, joy and laughter.
        As a sweet result, on 10/12/2020, in the beautiful snowing winter in
        Denmark, Thu and Søren have officially become husband and wife in the
        presence of their beloved family and friends.
        And we are so glad to inform you all that the long-awaited wedding
        party will be held in Vietnam.
        Let's party hard together to celebrate this love.
      </p>
    </div>
  </div>
</div>
