{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:image" content="{% static 'bigday/images/splashscreen.jpg' %}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="2048">
    <meta property="og:image:height" content="1176">
    <meta property="og:title" content="Søren and Thu's big day" />
    <meta property="og:description" content="More than you ever wanted to know about Søren, Thu, and the event." />
    <title>{{ couple_name }}'s big day</title>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block page_head %}
    {% endblock %}
</head>
<body id="page-top">
{% block page_content %}
{% endblock %}
{% include "partials/footer.html"  %}
<script>
    // When deployed on GitHub pages, it will be deployed to
    // http://<username>.github.io/<repo-name>
    // and the base url will be /<repo-name>
    // This is a hack to make the links work
    const static = '/static/';
    const prefixPath = window.location.pathname.slice(0, -1);
    const origin = window.location.origin;

    function updatePath(elm, property) {
        const path = elm[property];
        if (!path) return;
        if (path.startsWith(origin)) {
            elm[property] = origin + prefixPath + path.replace(origin, '');
        } else if (path.startsWith(static)) {
            elm[property] = prefixPath + path;
        }
    }
    function updateAllStaticPaths() {
        // No need to run if base url is ''
        if (prefixPath === '') return;

        const properties = ['content', 'src', 'href'];
        const allElements = document.getElementsByTagName('*');
        [...allElements].forEach(elm => {
            properties.forEach(property => updatePath(elm, property));
        })
    }
    updateAllStaticPaths();
</script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{#    <script src="{% static 'creative/js/jquery.js' %}"></script>#}

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'bigday/js/footer.js' %}"></script> -->
    <script>
        function setFooterStyle() {
            var docHeight = $(window).height();
            var footerHeight = $('#footer').outerHeight();
            var footerTop = $('#footer').position().top + footerHeight;
            if (footerTop < docHeight) {
                $('#footer').css('margin-top', (docHeight - footerTop) + 'px');
            } else {
                $('#footer').css('margin-top', '');
            }
            $('#footer').removeClass('invisible');
        }

        $(document).ready(function() {
            setFooterStyle();
            setFooterStyle();  // hack, for some reason this needs to be called twice on load
            window.onresize = setFooterStyle;
        });
    </script>
{% block page_js %}
{% endblock %}
</body>
</html>
